

.welcome {

    &__title {
        text-align: center;
        font-size: 3.5rem;
        margin-top: 10rem;
    }

    &__question {
        text-align: center;
        font-size: 3rem;
        margin-top: 4rem;
    }
}

.button {
    font-size: 3rem;
    padding: 1rem 3rem;
    border-style: none;
    border-radius: 3px;
    border:1px solid  rgba(white, 0.5);
    background-color: rgba(0,0,0,0);
    color: white;
    box-shadow: 1px 3px 3px rgba(white, 0.5);
    transform: translateY(-4%);
    cursor: pointer;
    transition-duration: 0.2s;

    &:hover {
        transform: translateY(0);
        box-shadow: 1px 1px 1px rgba(white, 0.5);
    }

    &:active {
        color: black;
        background-color: white;
    }
}

.start-game {
    position: absolute;
    bottom: 15%;
    left: 10%;
}
.end-game {
    position: absolute;
    bottom: 15%;
    right: 10%;
}
